*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: #262626;
}
h1{
    text-align: center;
    padding: 16px 0;
    color: #fff;
}
.main{
    width: 30vw;  
    height: 60vh;
    margin: 10vh auto;
    /* background-color: #ffffff;  */
    border: 1.5px solid #000000; 
    border-radius: 8px;
    box-shadow: -8px 10px 9px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -8px 10px 9px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 10px 9px -1px rgba(0,0,0,0.75);
}
.container{
    padding: 22px;
    border-radius: 20px;
}
.wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}
.wrap input{
    border: 1px solid rgb(169, 169, 169);
    background-color: transparent;
    font-size: 16px;
    width: 78%;
    padding: 6px;
    color: #fff;
}
.wrap input:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid #39FF14;
}
.add-btn{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #39FF14;
    width: 18%;
    color: white;
}

/* Javascript Styling starts Now! */

.input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    left: 10px;
    color: white;
}
.input:hover{
    cursor: default;
}
.task{
    /* border: 1px solid black; */
    margin-top: 12px;
    align-items: center;
    /* background-color: #f5f4f4; */
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.task button{
    margin:0 8px;
    padding: 8px;
    width: 3.5vw;
    border: none;
    border-radius: 6px;
    font-size: 15px;
}
.edit{
    background-color: #39FF14;
    color: white;
    position: relative;
    left: 32px;
}
.delete{
    background-color: rgb(255, 0, 0);
    color: white;
    position: relative;
    left: 8px;
}
/* .task input[type = "checkbox" ]{


} */